* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.draggable-main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.content {
  position: relative;
  width: 320px;
  height: 240px;
}

.content > div {
  position: absolute;
  width: 320px;
  height: 90px;
  overflow: visible;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  line-height: 90px;
  padding-left: 32px;
  font-size: 14.5px;
  background: lightblue;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content li {
  color: black;
}

li.commented {
  background: lightgrey;
}

.commented p {
  color: green;
}

.item {
  line-height: 30px;
  display: flex;
  align-items: flex-start;
}

.item button {
  height: 20px;
  align-self: center;
}

li {
  list-style: none;
}

.result {
  background: lightblue;
  width: 100%;
  height: 100%;
  padding: 16px;
  top:0;
  position: fixed;
  z-index:1002;
  overflow: auto;
  text-align: center;
  margin: auto;
  float: none;
}

.fader {
  opacity: 0;
  transition: opacity 1s; 
  color: red;
}
.fader.fade {
  opacity: 0;
}
