* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  align-items: center;
  background: #f0f0f0;
  overflow-y: visible;
}

.draggable-main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.content {
  position: relative;
  margin-left: 30px;
  overflow-y: scroll;
}

.description {
  padding: 20px;
}

.content li {
  color: black;
}

.content ul {
  padding: 0;
}

li.commented {
  background: lightgrey;
}

.commented p {
  color: green;
}

.commented button {
  color: green;
}

.item {
  line-height: 30px;
  display: flex;
  align-items: flex-start;
}

.item button {
  height: 20px;
  align-self: center;
}

li {
  list-style: none;
}

.result {
  background: lightblue;
  width: 100%;
  height: 100%;
  padding: 16px;
  top:0;
  position: fixed;
  z-index:1002;
  overflow: auto;
  text-align: center;
  margin: auto;
  float: none;
}

.about {
  background: lightblue;
  width: 100%;
  height: 100%;
  padding: 16px;
  top:0;
  position: fixed;
  z-index:1002;
  overflow: auto;
  text-align: center;
  margin: auto;
  float: none;
}

.alert {
  color: red
}

.alert-hidden {
  opacity: 0;
  
}

.alert-show {
  opacity: 1;
  transition: all 250ms linear 2s;
}

.multiline {
  white-space: pre-line;
}

/* CSS */
button.next  {
  width: 100%;
  margin: 3px;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button.next:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button.next:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button.next:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button.next:focus {
  outline: 1px transparent;
}

button.next:before {
  display: none;
}

button.next:-webkit-details-marker {
  display: none;
}

/* CSS */
button.submit {
  width: 100%;
  margin: 3px;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

button.submit:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button.submit:hover {
  background-color: #2c974b;
}

button.submit:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button.submit:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button.submit:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


button.comment {
  background-color: transparent;
  border: none;
  font-weight: 800;
}

.multiple button.comment {
  background: red;
}