@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700&display=swap');

* {
  box-sizing: border-box;
}

#root {
  /* padding: 0 2%; */
}

html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Inter', 'Lato', 'Fira Code';
  background: #1F1F1F;
  color: #DAD8D3;
  text-align: center;
  overflow: auto;
  font-size: 14px;
}

ul{
  list-style-type: none;
}

.draggable-main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  user-select: none;
  font-family: 'Consolas', 'Monaco', 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

#root {
  margin: 10px;
}

.content {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.description {
  text-align: center;
}

.content li {
  color: white;
  background: rgba(199, 199, 204, 0.5);
}

.content ul {
  padding: 0;
}

li.commented {
  background: #3C3E42;
  color: #DC9444;
}

.code {
  font-family: "Fira Code";
  background-color: transparent;
  font-weight: 600;
}

.commented p {
  color: #DC9444;
  font-family: "Fira Code";
  font-weight: 600;
}

.commented button {
  color: #DC9444;
  background: rgba(199, 199, 204, 0.5);
}

.commented button.code{
  color: #DC9444;
}

.commented span.drag{
  color: #DC9444;
}

.item {
  padding-left: 1em;
  line-height: 30px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  background: rgba(199, 199, 204, 0.5);
}

.commented .item{
  background: #3C3E42;
}

.commented .item button.comment{
  color: #DC9444;
}

.item .drag{
  align-self: center;
  margin-left: auto;
  color: white;
}

.item button {
  align-self: center;
  margin-right: 1em;
}

li {
  margin-bottom: 3px;
}

a{
  color:#DAD8D3;
}

a.logout {
  cursor: pointer;
  border-bottom: 1px solid #EF734B;
}

.result {
  background: #1F1F1F;
  width: 100%;
  padding: 16px;
  top:0;
  left: 0;
  z-index:1002;
  overflow: auto;
  text-align: center;
  margin: auto;
  float: none;
}

.about {
  background: #1F1F1F;
  height: 100%;
  width: 100%;
  color:#DAD8D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0;
  right:0;
  bottom:0;
  position: fixed;
  z-index:1002;
  margin:0;
  padding: 0;
  float: none;
  overflow: auto;
}

.about-without-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.general-rules{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.wrapper{
  margin: 0;
  padding: 0;
  min-width: 370px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}

.head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25%;
}

.app-head{
  margin-bottom: 10%;
}

.rules-header-text{
  text-align: left;
  margin: 0;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 600;
}

.rules-list{
  color:#DAD8D3;
  list-style-type: '✸';
  padding-left: 12px;
  width: 100%;
}

.rules-list-point{
  padding-left: 15px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.rules-signs{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.rules-signs-header{
  text-align: left;
  margin: 0;
  margin-bottom: 7px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
}

.main-app{
  display: flex;
  justify-content: center;
  width: 97vw;
}

.task{
  min-width: 370px;
}

.task-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge-block{
  display: flex;
  text-align: left;
}

.main-badge{
  min-width: 50px;
  height: 35px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.confirm-buttons{
  display: flex;
  justify-content: space-around;
}

.alert {
  color: red;
  display: flex;
  justify-content: center;
}

.alert-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.alert-show {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.multiline {
  white-space: break-spaces;

}

button.help {
  right: 0;
  top: 0;
  position: relative;
  align-self: center;
  appearance: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #DAD8D3;
  cursor: pointer;
  display: inline-block;
  font-family:  "Inter";
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}


.next  {
  width: 100px;
  height: 50px;
  margin: 3px 0;
  appearance: none;
  background-color: #FAFBFC;
  border-radius: 6px;
  border: none;
  color: #EF734B;
  cursor: pointer;
  display: inline-block;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button.next:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button.next:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button.next:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button.next:focus {
  outline: 1px transparent;
}

button.next:before {
  display: none;
}

button.next:-webkit-details-marker {
  display: none;
}

/* CSS */
.submit {
  width: 100px;
  height:50px;
  margin: 3px 0;
  appearance: none;
  background-color: #EF734B;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  display:flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}


button.comment {
  color: white;
  background-color: transparent;
  border: none;
  font-weight: 800;

}

.multiple button.comment {
  background: transparent;
  padding: 5px;
}

.help {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 0;
}

.df {
  display: flex;
}

.undraggable {
  padding: 0;
}

.badge{
  color: #DAD8D3;
  font-size: 15px;
  font-weight: 400;
  min-width: 50px;
  height: 35px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.badge .badge_icon {
  background-color: #E5E5E4;
  color: #EF734B;
  width: 28px;
  height: 28px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 5px;
}

.main-badge .badge_icon{
  background-color: #E5E5E4;
  color: #EF734B;
  width: 28px;
  height: 28px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go {
  width: 200px;
  height:50px;
  margin: 3px;
  appearance: none;
  background-color: #F16B3F;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 8px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.item .line {
  white-space: break-spaces;
  font-size: 0.8em;
}

.notification-container .title {
  font-family: 'Montserrat', sans-serif;
}

.notification-container .message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.result-links {
  padding: 0;
}

@media screen and (min-width : 768px){
  body{
    font-size: 22px;
  }

  div.task{
    max-width: 600px;
    width: 600px;
  }

  button.next, button.submit, button.help {
    font-size: 21px;
    font-weight: 500;
    width: 150px;
    height: 55px;
  }

  span.main-badge{
    width: 60px;
    height: 60px;
  }

  .main-badge span.badge_icon{
    width: 40px;
    height: 40px;
    font-size: 30px;
  }

  div.item p.code{
    font-size: 20px;
  }

  div.item button.comment{
    font-size: 20px;
  }

  div.item span.drag{
    font-size: 28px;
    margin-right: 15px;
  }

  .wrapper{
    max-width: 600px;
    width: 600px;
  }

  .rules-header-text{
    font-size: 35px;
  }

  .rules-list-point{
    font-size: 25px;
  }

  .rules-signs-header{
    font-size: 32px;
  }

  span.badge{
    font-size:25px;
  }

  .about span.badge_icon{
    width: 35px;
    height: 35px;
    font-size: 30px;
  }

  .about span.badge{
    margin-bottom: 10px;
  }

  .about button.go {
    font-size: 28px;
    font-weight: 500;
    width: 195px;
    height: 75px;
  }
}